{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
    <meta name="sogou_site_verification" content="gI1bINaJcL"/>
    <meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
    <meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="AUI, a-ui.com">
    <meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
    <title>内容管理</title>
    <link rel="icon" type="image/x-icon" href={% static 'favicon.ico' %}>
    <link href={% static 'title.png' %} sizes="114x114" rel="apple-touch-icon-precomposed">
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/core.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/icon.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/home.css' %}>

</head>
<body>

<!-- head YDC begin -->
<header class="ydc-header">
    <div class="ydc-entered">
        <div class="ydc-header-content ydc-flex">
            <div class="ydc-column">
                <a href="toinfo" class="ydc-column-ydc-logo">中国石油大学（华东）就业信息平台——企业版
                </a>
            </div>
            <div class="ydc-column">
                <div class="ydc-column-user">
                    <div class="ydc-user-photo">
                        <a href="javascript:">
                            <img src={% static 'admin/images/icon/photo.png' %} title="" about="" alt="">
                        </a>
                    </div>
                    <div class="ydc-user-info">
                        <div class="ydc-user-info-name">
                            <a href="toinfo">海康威视</a>
                        </div>
                        <div class="ydc-user-info-func ydc-flex">
                            <span class="ydc-tag">账号审核中</span>
                            <span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
                            <a href="javascript:">退出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- head YDC end -->

<!-- content YDC begin -->
<section>
    <div class="ydc-content-slide ydc-body">
        <div class="ydc-flex">
            <!-- left begin -->
            <div class="ydc-column ydc-column-2">
                <div class="ydc-menu">
                    <ul>
                        <li class="ydc-menu-item">
                            <a href="toinfo"><i class="ydc-icon ydc-icon-home fl"></i>账号信息</a>
                        </li>
                        <li class="ydc-menu-item">
                            <a href="torelease"><i class="ydc-icon ydc-icon-find fl"></i>发布</a>
                        </li>

                        <li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-set fl"></i>查看
								</span>
                            <ul>
                                <li>
										<a href="indexEmp ">招聘信息</a>
									</li>
                                    <li>
										<a href="toshow" >本企业就业学生信息</a>
									</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- left end -->
            <!-- right begin -->
            <div class="ydc-column ydc-column-8">
                <div class="ydc-release-content">
                    <div class="ydc-tabPanel ydc-tabPanel-release">
                        <div class="ydc-release-tab-head">
                            <ul>
                                <li class="hit">内容管理</li>
                            </ul>
                            <div class="ydc-release-amount">
                                        <span>
                                            今日发布数量：<em>0</em>
                                            /6 <a href="standard.html" target="_blank">发文规范</a>
                                        </span>
                            </div>
                        </div>
                        <div class="ydc-panes">
                            <div class="ydc-pane" style="display:block;">
                                <div class="clearfix">
                                    <div class="fl ydc-group-sel">
                                        <select>
                                            <option>全部类型</option>
                                            <option>文章</option>
                                            <option>图集</option>
                                            <option>视频</option>
                                        </select>
                                    </div>
                                    <div class="fl ydc-group-sel">
                                        <select>
                                            <option>全部状态</option>
                                            <option>草稿</option>
                                            <option>未通过</option>
                                            <option>已发布</option>
                                            <option>已下线</option>
                                            <option>待发布</option>
                                        </select>
                                    </div>
                                    <div class="fl ydc-group-input">
                                        <input type="text" placeholder="请输入关键词进行搜索">
                                        <button class="ydc-group-button">搜 索</button>
                                    </div>
                                </div>
                                <div class="ydc-group-altogether">共<span>1</span>条内容</div>
                                <div class="ydc-group-table">

                                    <div class="ydc-group-table-item">
                                        <div class="ydc-group-table-item-img">
                                            <img src="admin/images/ad/img-ad3.jpg" alt="">
                                        </div>
                                        <div class="ydc-actions">
                                            <div>
                                                <button class="ydc-actions-trigger"></button>
                                            </div>
                                        </div>
                                        <div class="ydc-group-table-item-text">
												<span>
													<a href="https://mp.weixin.qq.com/s?__biz=MzIzMjc3NzQyMg==&mid=2247500810&idx=1&sn=fe52f911b7843ae0ce27a7ff9f3aeb45&chksm=e88d37abdffabebda1fde763ae7ec98fe861c8d1baa86d8d51b68b6a723a1d73a25fc4eb69d3&mpshare=1&scene=23&srcid=0707xYpq7BsCdOLRdTu3YmGV&sharer_sharetime=1625638461641&sharer_shareid=7dfdb9f3f571505b3bd4b49479d7fbe1#rd">海康威视2022校招 | “启明星”技术达人招募计划启动</a>
												</span>
                                            <span class="ydc-group-table-item-tag">已发布</span>
                                        </div>
                                        <div class="ydc-group-table-item-info">
                                            <span>2021-06-21 23:37:33</span>
                                            <span>| 推荐：13390 | 阅读：7809 | 分享：100</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="ydc-pagination">
                                <ol>
                                    <li class="ydc-previous-item">
                                        <button class="ydc-previous-item-btn-medium ydc-disabled">
                                            <span>上一页</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="ydc-previous-item-btn-medium cur">1</button>
                                    </li>
                                    <li class="ydc-previous-item">
                                        <button class="ydc-previous-item-btn-medium">
                                            <span>下一页</span>
                                        </button>
                                    </li>
                                    <li class="ydc-item-quick">
                                        第
                                        <div class="ydc-item-quick-kun"><input type="number" aria-invalid="false"
                                                                               class=""></div>
                                        页
                                        <button style="margin-left:5px;" class="ydc-previous-item-btn-medium">
                                            <span>跳转</span>
                                        </button>
                                    </li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- right end -->
        </div>
    </div>

</section>
<!-- content YDC end -->

<script type="text/javascript" src={% static 'admin/js/jquery.min.js' %}></script>
<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // 滚动时间
    }
</script>

<script type="text/javascript">
    $(function () {
        $('.ydc-tabPanel ul li').click(function () {
            $(this).addClass('hit').siblings().removeClass('hit');
            $('.ydc-panes>div:eq(' + $(this).index() + ')').show().siblings().hide();
        })
    })
</script>

</body>
</html>