{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
    <meta name="sogou_site_verification" content="gI1bINaJcL"/>
    <meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
    <meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="AUI, a-ui.com">
    <meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
    <title>企业首页</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href={% static 'title.png' %} sizes="114x114" rel="apple-touch-icon-precomposed">
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/core.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/icon.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/home.css' %}>


</head>
<body>

<!-- head YDC begin -->
<header class="ydc-header">
    <div class="ydc-entered">
        <div class="ydc-header-content ydc-flex">
            <div class="ydc-column">
                <a href="toinfo" class="ydc-column-ydc-logo">中国石油大学（华东）就业信息平台——企业版
                </a>
            </div>
            <div class="ydc-column">
                <div class="ydc-column-user">
                    <div class="ydc-user-photo">
                        <a href="javascript:">
                            <img src={% static 'admin/images/icon/photo.png' %} title="" about="" alt="">
                        </a>
                    </div>
                    <div class="ydc-user-info">
                        <div class="ydc-user-info-name">
                            <a href="toinfo">海康威视</a>
                        </div>
                        <div class="ydc-user-info-func ydc-flex">
                            <span class="ydc-tag">账号审核中</span>
                            <span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
                            <a href="javascript:">退出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- head YDC end -->

<!-- content YDC begin -->
<section>
    <div class="ydc-content-slide ydc-body">
        <div class="ydc-flex">
            <!-- left begin -->
            <div class="ydc-column ydc-column-2">
                <div class="ydc-menu">
                    <ul>
                        <li class="ydc-menu-item">
                            <a href="toinfo"><i class="ydc-icon ydc-icon-home fl"></i>账号信息</a>
                        </li>
                        <li class="ydc-menu-item">
                            <a href="torelease"><i class="ydc-icon ydc-icon-find fl"></i>发布</a>
                        </li>

                        <li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-set fl"></i>查看
								</span>
                            <ul>
                                <li>
										<a href="indexEmp ">招聘信息</a>
									</li>
                                    <li>
										<a href="toshow" >本企业就业学生信息</a>
									</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- left end -->
            <!-- right begin -->
            <div class="ydc-column ydc-column-8">
                <div class="ydc-entered-box">
                    <div class="ydc-content-right">
                        <div class="ydc-right-head">
                            <div class="ydc-right-head-info">
                                <dl>
                                    <a href="#">
                                        <dt>总订阅</dt>
                                        <dd>13390</dd>
                                    </a>
                                </dl>
                                <dl>
                                    <a href="#">
                                        <dt>总阅读</dt>
                                        <dd>7809</dd>
                                    </a>
                                </dl>
                                <dl>
                                    <a href="#">
                                        <dt>昨日阅读</dt>
                                        <dd>14</dd>
                                    </a>
                                </dl>
                                <dl>
                                    <a href="#">
                                        <dt>总数据指数</dt>
                                        <dd>158</dd>
                                    </a>
                                </dl>
                            </div>
                            <button class="btn ydc-ne-carousel"
                                    onclick="window.location.href='release.html';">
                                <i class="ydc-icon-shu"></i>
                                <span>发布</span>
                            </button>
                        </div>
                        <div class="ydc-right-banner">
                            <div class="slideshow-container">
                                <a href="https://xihazahuopu.taobao.com/" target="_blank" class="mySlides fade">
                                    <img src={% static 'admin/images/ad/ad1.jpg' %} style="width:100%">
                                </a>
                                <a href="https://weibo.com/525135676" target="_blank" class="mySlides fade">
                                    <img src={% static 'admin/images/ad/ad2.jpg' %} style="width:100%">
                                </a>
                                <a href="http://www.a-ui.cn/" target="_blank" class="mySlides fade">
                                    <img src={% static 'admin/images/ad/ad3.jpg' %} style="width:100%">
                                </a>
                            </div>
                        </div>
                        <!-- gongGao begin -->
                        <div class="ydc-loading-box">
                            <div class="ydc-tabPanel">
                                <div>
                                    <ul>
                                        <li class="hit">最新招聘</li>
                                        <li>企业资讯</li>
                                        <li>就业指导</li>
                                    </ul>

                                </div>
                                <div class="ydc-panes">
                                    <div class="ydc-pane" style="display:block;">
                                        <ol class="ydc-pane-list">
                                            <li>
                                                <a href="https://mp.weixin.qq.com/s?__biz=MzIzMjc3NzQyMg==&mid=2247500810&idx=1&sn=fe52f911b7843ae0ce27a7ff9f3aeb45&chksm=e88d37abdffabebda1fde763ae7ec98fe861c8d1baa86d8d51b68b6a723a1d73a25fc4eb69d3&mpshare=1&scene=23&srcid=0707xYpq7BsCdOLRdTu3YmGV&sharer_sharetime=1625638461641&sharer_shareid=7dfdb9f3f571505b3bd4b49479d7fbe1#rd"
                                                   target="_blank">海康威视2022校招 | “启明星”技术达人招募计划启动 <i>new</i></a>
                                                <span>2021-06-21 23:37:33</span>
                                            </li>
                                            <li>
                                                <a href="https://mp.weixin.qq.com/s?__biz=MzI5MDU0NjE3MA==&mid=2247493008&idx=1&sn=ef95639ed5f2d83afc8d30fee7e5544d&chksm=ec1ced05db6b64132bd2c7dbc19df148983f0fc8d45ea07c43913d15bdd2c638c6b7760c5f83&mpshare=1&scene=23&srcid=0702FzkAorHRCuFrCCDfku78&sharer_sharetime=1625197674770&sharer_shareid=7dfdb9f3f571505b3bd4b49479d7fbe1#rd"
                                                   target="_blank">【校园招聘】长鑫存储2022校招提前批正式开启！</a>
                                                <span>2021-06-20 14:05:58</span>
                                            </li>
                                            <li>
                                                <a href="https://mp.weixin.qq.com/s?__biz=MjM5NTM2NzY0Ng==&mid=2652226138&idx=1&sn=3b814230113fa3a03f75ec5e97f6d7a0&chksm=bd18fdeb8a6f74fddcf08d7523dfbac4160b9650b22312f00e1e05a6c6c56447c3133d9c8cfb&mpshare=1&scene=23&srcid=0615arGKTw9PFcyiMyQW21yH&sharer_sharetime=1623822909149&sharer_shareid=8086ba2fc4e42198f9791959a60b3d2e#rd"
                                                   target="_blank">【遇见】新奥集团2021年Open Day耀你集合啦！</a>
                                                <span>2021-06-20 13:52:00</span>
                                            </li>
                                            <li>
                                                <a href="https://mp.weixin.qq.com/s?__biz=MzUxNDYwMDMzMw==&mid=2247485427&idx=1&sn=8024e28cb2deabd0bd51192ae2f89c56&chksm=f9423b11ce35b2070c45fd88ccdf4d0557537de55bd498412b6708c2e0451f05ce3669a497fb&mpshare=1&scene=23&srcid=0621o8Mx2bLkmh9FLFci0JT4&sharer_sharetime=1624286932849&sharer_shareid=7dfdb9f3f571505b3bd4b49479d7fbe1#rd"
                                                   target="_blank">【校园招聘】蔚来2022届校园招聘提前批正式启动</a>
                                                <span>2021-06-20 10:28:01</span>
                                            </li>

                                        </ol>
                                        <div class="ydc-pagination">
                                            <ol>
                                                <li class="ydc-previous-item">
                                                    <button class="ydc-previous-item-btn-medium ydc-disabled">
                                                        <span>上一页</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium cur">1</button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium">2</button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium">3</button>
                                                </li>
                                                <li class="ydc-previous-item">
                                                    <button class="ydc-previous-item-btn-medium">
                                                        <span>下一页</span>
                                                    </button>
                                                </li>
                                                <li class="ydc-item-quick">
                                                    第
                                                    <div class="ydc-item-quick-kun"><input type="number"
                                                                                           aria-invalid="false"
                                                                                           class=""></div>
                                                    页
                                                    <button style="margin-left:5px;"
                                                            class="ydc-previous-item-btn-medium">
                                                        <span>跳转</span>
                                                    </button>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="ydc-pane">
                                        <ol class="ydc-pane-list">
                                            <li>
                                                <a href="https://new.qq.com/omn/20210706/20210706A0AV1400.html"
                                                   target="_blank">滴滴App遭下架后，共享出行会再造新格局吗？<i>new</i></a>
                                                <span>2021-07-06 19:17:00</span>
                                            </li>
                                            <li>
                                                <a href="https://new.qq.com/omn/20210706/20210706A096Y300.html">中芯国际高管“裸辞”上热搜，芯片人才为什么如此稀缺</a>
                                                <span>2021-07-06 17:51:00</span>
                                            </li>
                                            <li>
                                                <a href="https://new.qq.com/omn/20210706/20210706A023XX00.html">从觉醒到崛起，释放“她”经济中的新势能｜华兴π对</a>
                                                <span>2021-07-06 09:31:00</span>
                                            </li>
                                            <li>
                                                <a href="https://new.qq.com/omn/20210705/20210705A0A8XU00.html"
                                                   target="_blank">粤海酒店集团携手哈奇智能，共同探索商业价值</a>
                                                <span>2021-07-05 18:03:00</span>
                                            </li>
                                        </ol>
                                        <div class="ydc-pagination">
                                            <ol>
                                                <li class="ydc-previous-item">
                                                    <button class="ydc-previous-item-btn-medium ydc-disabled">
                                                        <span>上一页</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium cur">1</button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium">2</button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium">3</button>
                                                </li>
                                                <li class="ydc-previous-item">
                                                    <button class="ydc-previous-item-btn-medium">
                                                        <span>下一页</span>
                                                    </button>
                                                </li>
                                                <li class="ydc-item-quick">
                                                    第
                                                    <div class="ydc-item-quick-kun"><input type="number"
                                                                                           aria-invalid="false"
                                                                                           class=""></div>
                                                    页
                                                    <button style="margin-left:5px;"
                                                            class="ydc-previous-item-btn-medium">
                                                        <span>跳转</span>
                                                    </button>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="ydc-pane">
                                        <ol class="ydc-pane-list">

                                            <li>
                                                <a href="https://career.upc.edu.cn/cadetail/8320">小职桥-“HR下午茶”-青岛鼎信通讯股份有限公司<i>new</i></a>
                                                <span>2021-06-30 21:55:00</span>
                                            </li>
                                            <li>
                                                <a href="https://mp.weixin.qq.com/s?__biz=MzU0MTc3ODQ0OA==&mid=2247484223&idx=1&sn=ca461043236448499f5d7dbb7f0425f4&chksm=fb25f440cc527d563996cd88910e0bc209f3121329113947d8e87b90ba402cb0610a2ada7fa7&mpshare=1&scene=23&srcid=0624yYXQv52GaDa8KHux7xmJ&sharer_sharetime=1624500520989&sharer_shareid=2e798faf38ec7b743f021b8e61ed4613#rd"
                                                   target="_blank">泛微软件北方大区2022届春招-中国石油大学</a>
                                                <span>2021-06-18 10:00:00</span>
                                            </li>
                                            <li>
                                                <a href="https://career.upc.edu.cn/cadetail/8283">2021年暑假澳门地区名校名企访学/实践项目宣讲会</a>
                                                <span>2021-06-08 18:34:00</span>
                                            </li>
                                            <li>
                                                <a href="https://mp.weixin.qq.com/s?__biz=MzU4MzQ2NzUxMw==&mid=2247504394&idx=5&sn=ddd4c56c75d01e197e01613fb5ca6afd&chksm=fdaa3a9ccaddb38aadabdc1b3bfbfcf5ea8e0a8113e49e99c06a2c79cc4f431fa4985efd6032&mpshare=1&scene=23&srcid=0603lAgkcu6jA4mxi7I03rWy&sharer_sharetime=1622700314628&sharer_shareid=7dfdb9f3f571505b3bd4b49479d7fbe1#rd"
                                                   target="_blank">【国聘双选会】推荐！暑期实习专场线上双选会来了！</a>
                                                <span>2021-06-03 10:00:00</span>
                                            </li>
                                        </ol>
                                        <div class="ydc-pagination">
                                            <ol>
                                                <li class="ydc-previous-item">
                                                    <button class="ydc-previous-item-btn-medium ydc-disabled">
                                                        <span>上一页</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium cur">1</button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium">2</button>
                                                </li>
                                                <li>
                                                    <button class="ydc-previous-item-btn-medium">3</button>
                                                </li>
                                                <li class="ydc-previous-item">
                                                    <button class="ydc-previous-item-btn-medium">
                                                        <span>下一页</span>
                                                    </button>
                                                </li>
                                                <li class="ydc-item-quick">
                                                    第
                                                    <div class="ydc-item-quick-kun"><input type="number"
                                                                                           aria-invalid="false"
                                                                                           class=""></div>
                                                    页
                                                    <button style="margin-left:5px;"
                                                            class="ydc-previous-item-btn-medium">
                                                        <span>跳转</span>
                                                    </button>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gongGao End -->
                    </div>
                </div>
            </div>
            <!-- right end -->
        </div>
    </div>

    <div class="ydc-footer">
        <div>
            <p>版权所有 中国石油大学（华东）计算机科学与技术系 电话：13366285645 京ICP备16014951号</p>
        </div>
    </div>
</section>
<!-- content YDC end -->

<script type="text/javascript" src={% static 'admin/js/jquery.min.js' %}></script>
<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // 滚动时间
    }
</script>

<script type="text/javascript">
    $(function () {
        $('.ydc-tabPanel ul li').click(function () {
            $(this).addClass('hit').siblings().removeClass('hit');
            $('.ydc-panes>div:eq(' + $(this).index() + ')').show().siblings().hide();
        })
    })
</script>

</body>
</html>