{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
    <meta name="sogou_site_verification" content="gI1bINaJcL"/>
    <meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
    <meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="AUI, a-ui.com">
    <meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
    <title>修改资料</title>
    <link rel="icon" type="image/x-icon" href={% static 'favicon.ico' %}>
    <link href={% static 'title.png' %} sizes="114x114" rel="apple-touch-icon-precomposed">
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/core.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/icon.css' %}>
    <link type="text/css" rel="stylesheet" href={% static 'admin/css/home.css' %}>


</head>
<body>

<!-- head YDC begin -->
<header class="ydc-header">
    <div class="ydc-entered">
        <div class="ydc-header-content ydc-flex">
            <div class="ydc-column">
                <a href="toinfo" class="ydc-column-ydc-logo">中国石油大学（华东）就业信息平台——企业版
                </a>
            </div>
            <div class="ydc-column">
                <div class="ydc-column-user">
                    <div class="ydc-user-photo">
                        <a href="javascript:">
                            <img src={% static 'admin/images/icon/photo.png' %} title="" about="" alt="">
                        </a>
                    </div>
                    <div class="ydc-user-info">
                        <div class="ydc-user-info-name">
                            <a href="toinfo">海康威视</a>
                        </div>
                        <div class="ydc-user-info-func ydc-flex">
                            <span class="ydc-tag">账号审核中</span>
                            <span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
                            <a href="javascript:">退出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- head YDC end -->

<!-- content YDC begin -->
<section>
    <div class="ydc-content-slide ydc-body">
        <div class="ydc-flex">
            <!-- left begin -->
            <div class="ydc-column ydc-column-2">
                <div class="ydc-menu">
                    <ul>
                        <li class="ydc-menu-item">
                            <a href="toinfo"><i class="ydc-icon ydc-icon-home fl"></i>账号信息</a>
                        </li>
                        <li class="ydc-menu-item">
                            <a href="torelease"><i class="ydc-icon ydc-icon-find fl"></i>发布</a>
                        </li>

                        <li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-set fl"></i>查看
								</span>
                            <ul>
                                <li>
										<a href="indexEmp ">招聘信息</a>
									</li>
                                    <li>
										<a href="toshow" >本企业就业学生信息</a>
									</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- left end -->
            <!-- right begin -->
            <div class="ydc-column ydc-column-8">
                <div class="ydc-release-content">
                    <div class="ydc-tabPanel ydc-tabPanel-release">
                        <div class="ydc-release-tab-head">
                            <ul>
                                <li class="hit">帐号设置</li>
                            </ul>
                        </div>
                        <div class="ydc-panes">
                            <form method="post" action="editEnter/">
                                {% csrf_token %}
                                <div class="ydc-reg-form-class ydc-reg-form-reg" style="margin-top:40px;">
                                    <div class="ydc-reg-form-group clearfix">
                                        <label>企业账号:</label>
                                        <div class="ydc-reg-form-input">
                                            <input type="text" name="zhanghao" class="ydc-form-control"
                                                   autocomplete="off" placeholder="91332222733796106P"
                                                   style="width:200px;">
                                            <div class="ydc-reg-form-text">
                                                <p>请输入企业账号</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ydc-reg-form-class ydc-reg-form-reg" style="margin-top:40px;">
                                        <div class="ydc-reg-form-group clearfix">
                                            <label>企业编号:</label>
                                            <div class="ydc-reg-form-input">
                                                <input type="text" id="loginEmail" name="ent_num"
                                                       class="ydc-form-control" autocomplete="off"
                                                       placeholder="91332222733796106P" style="width:200px;">
                                                <div class="ydc-reg-form-text">
                                                    <p>请输入4至20位的企业编号</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ydc-reg-form-group clearfix">
                                            <label>企业名称:</label>
                                            <div class="ydc-reg-form-input">
                                                <input type="password" id="psd" name="name" class="ydc-form-control"
                                                       autocomplete="off" placeholder="海康威视">
                                                <div class="ydc-reg-form-text">
                                                    <p>请输入2至20字的企业名称</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ydc-reg-form-group clearfix">
                                        <label>企业性质:</label>
                                        <div class="ydc-reg-form-input ydc-reg-form-input-width">
                                            <input type="password" id="psd" name="ent_property" class="ydc-form-control"
                                                   autocomplete="off" placeholder="海康威视">
                                            <div class="ydc-reg-form-text">
                                                <p>请输入2至14字的企业性质</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ydc-reg-form-group clearfix">
                                        <label>成立时间:</label>
                                        <div class="ydc-reg-form-input">
                                            <input type="text" id="user1" name="time_est" class="ydc-form-control"
                                                   autocomplete="off" placeholder="2019-07-01">
                                        </div>
                                    </div>
                                    <div class="ydc-reg-form-group clearfix">
                                        <label>员工人数:</label>
                                        <div class="ydc-reg-form-input clearfix">
                                            <input type="text" id="user2" name="num_em" class="ydc-form-control"
                                                   autocomplete="off" placeholder="3.4万">
                                        </div>

                                    </div>
                                    <div class="ydc-reg-form-group clearfix">
                                        <label>注册资金:</label>
                                        <div class="ydc-reg-form-input">
                                            <input type="text" id="user7" name="reg_cap" class="ydc-form-control"
                                                   autocomplete="off" placeholder="8000万人民币">
                                        </div>
                                    </div>
                                    <div class="ydc-reg-form-group clearfix">
                                        <label>简介:</label>
                                        <div class="ydc-reg-form-input ydc-reg-form-input-width">
                                            <input type="text" id="user7" name="ent_abstract" class="ydc-form-control"
                                                   autocomplete="off"
                                                   placeholder="所属行业为软件和信息技术服务业，经营范围包含：从事数字技术、电子产品、通讯产品等。">
                                            <div class="ydc-reg-form-text">
                                                <p>请输入150字以内的企业简介</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ydc-reg-form-group clearfix">
                                        <label></label>
                                        <div class="ydc-reg-form-input ydc-reg-form-input-agreement">
                                            <label><input type="checkbox" value="yes" id="agreement" checked="">
                                                我已经阅读并同意 <a href="agreement.html"
                                                            target="_blank">《中国石油大学（华东）就业信息平台注册协议》</a>。</label>
                                        </div>
                                    </div>

                                    <div class="ydc-reg-form-group">
                                        <div class="ydc-reg-form-button" style="margin-left:255px;">
                                            <button class="btn fl" type="submit">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right end -->
        </div>
    </div>

</section>
<!-- content YDC end -->

<script type="text/javascript" src={% static 'admin/js/jquery.min.js' %}></script>
<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // 滚动时间
    }
</script>

<script type="text/javascript">
    $(function () {
        $('.ydc-tabPanel ul li').click(function () {
            $(this).addClass('hit').siblings().removeClass('hit');
            $('.ydc-panes>div:eq(' + $(this).index() + ')').show().siblings().hide();
        })
    })
</script>
</body>
</html>