{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a"/>
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="AUI, a-ui.com">
	<meta name="baidu-site-verification" content="ZVPGgtpUfW"/>
	<title>往届就业</title>
	<link rel="icon" type="image/x-icon" href={% static 'favicon.ico' %}>
	<link href={% static 'title.png' %} sizes="114x114" rel="apple-touch-icon-precomposed">
	<link type="text/css" rel="stylesheet" href={% static 'admin/css/core.css' %}>
	<link type="text/css" rel="stylesheet" href={% static 'admin/css/icon.css' %}>
	<link type="text/css" rel="stylesheet" href={% static 'admin/css/home.css' %}>


</head>
<body>

<!-- head YDC begin -->
	<header class="ydc-header">
		<div class="ydc-entered">
			<div class="ydc-header-content ydc-flex">
				<div class="ydc-column">
					<a href="toinfo" class="ydc-column-ydc-logo">中国石油大学（华东）就业信息平台——企业版
					</a>
				</div>
				<div class="ydc-column">
					<div class="ydc-column-user">
						<div class="ydc-user-photo">
							<a href="javascript:;">
								<img src={% static 'admin/images/icon/photo.png' %} title="" about="" alt="">
							</a>
						</div>
						<div class="ydc-user-info">
							<div class="ydc-user-info-name">
								<a href="toinfo">海康威视</a>
							</div>
							<div class="ydc-user-info-func ydc-flex">
								<span class="ydc-tag">账号审核中</span>
								<span class="ydc-mal"><i class="ydc-icon ydc-icon-mail fl"></i><em>12</em></span>
								<a href="javascript:;">退出</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-flex">
				<!-- left begin -->
				<div class="ydc-column ydc-column-2">
					<div class="ydc-menu">
						<ul>
							<li class="ydc-menu-item">
								<a href="toinfo"  ><i class="ydc-icon ydc-icon-home fl"></i>账号信息</a>
							</li>
							<li class="ydc-menu-item">
								<a href="torelease"><i class="ydc-icon ydc-icon-find fl"></i>发布</a>
							</li>

							<li class="ydc-menu-item">
								<span class="ydc-menu-sub-title">
									<i class="ydc-icon ydc-icon-set fl"></i>查看
								</span>
								<ul>
									<li>
										<a href="indexEmp ">招聘信息</a>
									</li>
                                    <li>
										<a href="toshow" class="active">本企业就业学生信息</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- left end -->
				<!-- right begin -->
				<div class="ydc-column ydc-column-8">
					<div class="ydc-release-content">
						<div class="ydc-tabPanel ydc-tabPanel-release">
							<div class="ydc-release-tab-head">
								<ul>
									<li class="hit">往届学生就业</li>
								</ul>
							</div>
							<div class="ydc-panes">
                                <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>职位</th>
                    <th>就业时间</th>
                    <th>职位描述</th>
                    <th>学历</th>
                    <th>专业</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>齐艳明</td>
                        <td>人力资源总监</td>
                        <td>2016</td>
                        <td>是现代公司中最重要、最有价值的顶尖管理职位之一</td>
                        <td>本科</td>
                        <td>人力资源管理</td>
                    </tr>
                    <tr>
                        <td>钟子期</td>
                        <td>软件架构师</td>
                        <td>2013</td>
                        <td>是软件组织新产品的开发与集成、新技术体系的构建者</td>
                        <td>研究生</td>
                        <td>软件工程</td>
                    </tr>
                    <tr>
                        <td>杜飞邦</td>
                        <td>销售经理</td>
                        <td>2013</td>
                        <td>是指导产品和服务的实际销售的人</td>
                        <td>本科</td>
                        <td>市场营销</td>
                    </tr>
                    <tr>
                        <td>白柏</td>
                        <td>工程项目经理</td>
                        <td>2020</td>
                        <td>是企业法定代表人在工程项目上的委托授权代理人</td>
                        <td>博士</td>
                        <td>工程项目管理</td>
                    </tr>
                </tbody>
            </table>
							</div>
						</div>
					</div>
				</div>
				<!-- right end -->
			</div>
		</div>

	</section>
<!-- content YDC end -->

	<script type="text/javascript" src={% static 'admin/js/jquery.min.js' %}></script>
	<script type="text/javascript">
	    var slideIndex = 0;
	    showSlides();
	    function showSlides() {
	        var i;
	        var slides = document.getElementsByClassName("mySlides");
	        for (i = 0; i < slides.length; i++) {
	            slides[i].style.display = "none";
	        }
	        slideIndex++;
	        if (slideIndex> slides.length) {slideIndex = 1}
	        slides[slideIndex-1].style.display = "block";
	        setTimeout(showSlides, 3000); // 滚动时间
	    }
	</script>

	<script type="text/javascript">
	    $(function(){
	        $('.ydc-tabPanel ul li').click(function(){
	            $(this).addClass('hit').siblings().removeClass('hit');
	            $('.ydc-panes>div:eq('+$(this).index()+')').show().siblings().hide();
	        })
	    })
	</script>
</body>
</html>