{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>修改学生信息</title>
    <link rel="stylesheet" href={%static 'layui/css/layui.css' %}>
    <link rel="stylesheet" href={%static 'admin/css/style.css' %}>
    <script src={%static 'layui/layui.js' %}></script>
    <script src={%static 'js/jquery-3.3.1.min.js'%}></script>
    <script src={%static 'js/vue.min.js'%}></script>
    <script src={%static 'admin/js/config.js'%}></script>
</head>
<body>

<div id="app">
    <!--顶栏-->
    <header>
        <h1 v-text="webname"></h1>
        <div class="breadcrumb">
            <i class="layui-icon">&#xe715;</i>
            <ul>
                <li v-for="vo in address">
                    <a v-text="vo.name" :href="vo.url"></a> <span>/</span>
                </li>
            </ul>
        </div>
    </header>


    <div class="main">
        <!--左栏-->
        <div class="left">
            <ul class="cl">
                <li>
                <a href="../toindex" >
                        <i class="layui-icon" ></i>
                        <span>首页</span>
                         <i class="layui-icon active">&#xe623;</i>
                    </a>
                     </li>
                <li>
                    <a href="javascript:;" >
                        <i class="layui-icon" ></i>
                        <span>学生管理</span>
                        <i class="layui-icon arrow">&#xe61a;</i> <i class="layui-icon active">&#xe623;</i>

                    </a>
                          <div >
                        <a href="../add" @click="onActive(index,index2)">添加学生</a>
                        <i  class="layui-icon active">&#xe623;</i>
                    </div>
                        <div >
                        <a href="../index" @click="onActive(index,index2)">学生列表</a>
                        <i  class="layui-icon active">&#xe623;</i>
                    </div>
                     </li>

                <li>
                <a href="../chart12" >
                        <i class="layui-icon" ></i>
                        <span>数据可视化</span>
                         <i class="layui-icon active">&#xe623;</i>
                    </a>
                     </li>
                <li>
                    <a href="javascript:;" >
                        <i class="layui-icon" ></i>
                        <span>系统设置</span>
                        <i class="layui-icon arrow">&#xe61a;</i> <i class="layui-icon active">&#xe623;</i>

                    </a>
                        <div >
                        <a href="http://www.upc.edu.cn/xygk/xywh.htm" @click="onActive(index,index2)">友情链接</a>
                        <i  class="layui-icon active">&#xe623;</i>
                    </div>
                          <div >
                        <a href="../tosecurity" @click="onActive(index,index2)">修改密码</a>
                        <i  class="layui-icon active">&#xe623;</i>
                    </div>
                     </li>
                <li>

<li>
                    <a href="javascript:;" >
                        <i class="layui-icon" ></i>
                        <span>管理员管理</span>
                        <i class="layui-icon arrow">&#xe61a;</i> <i class="layui-icon active">&#xe623;</i>

                    </a>
                          <div >
                        <a href="../setadmin" @click="onActive(index,index2)">添加管理员</a>
                        <i  class="layui-icon active">&#xe623;</i>
                    </div>
                        <div >
                        <a href="../setuser" @click="onActive(index,index2)">删除管理员</a>
                        <i  class="layui-icon active">&#xe623;</i>
                    </div>
                     </li>
              <li>
                <a href="../tologinin" >
                        <i class="layui-icon" ></i>
                        <span>退出登录</span>
                         <i class="layui-icon active">&#xe623;</i>
                    </a>
                     </li>

            </ul>
        <div style="height: 46%;position: relative">
                    <div style="bottom: 0px;position: absolute">
                        <p id="showtime" style="color:white;font-size: large;text-align: center"></p>
                    </div>

            </div>
        </div>
        <div style="height: 46%;position: relative">
                    <div style="bottom: 0px;position: absolute">
                        <p id="showtime" style="color:white;font-size: large;text-align: center"></p>
                    </div>

            </div>
        </div>
        <!--右侧-->
        <div class="right p20">

<fieldset class="layui-elem-field layui-field-title">
    <legend>修改学生信息</legend>
</fieldset>


<form class="layui-form " method="post" action="../edit17/" >
      {% csrf_token %}
    <input type="hidden" name="id" value="{{ student.id }}"/>
    <div class="layui-form-item">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="stuID" value="{{student.stuID}}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级</label>
        <div class="layui-input-block">
            <input type="text" name="banji" class="layui-input" value="{{student.banji}}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工作类型</label>
        <div class="layui-input-block">
            <input type="text" name="leixing"  class="layui-input" value="{{student.leixing}}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">报考院校</label>
        <div class="layui-input-block">
            <input type="text" name="baokao_school "  class="layui-input" value="{{student.baokao_school }}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">录取院部</label>
        <div class="layui-input-block">
            <input type="text" name="luqu_yuanbu"  class="layui-input" value="{{student.luqu_yuanbu}}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">录取专业</label>
        <div class="layui-input-block">
            <input type="text" name="luqu_zhuanye"  class="layui-input" value="{{student.luqu_zhuanye}}">
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">提交后不可修改</label>
        <div class="layui-input-block">
            <input type="checkbox" value="1" name="state" lay-text="开启|关闭" checked="" lay-skin="switch">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="submit" >立即提交</button>

        </div>
    </div>
</form>


        </div>
    </div>
</div>

<script>
/* 时间 */
function time() {
  t_div = document.getElementById('showtime');
  var now = new Date()
  t_div.innerHTML = now.getFullYear() + "/" + (now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getHours() + ":" + now.getMinutes()  + ":"+now.getSeconds();
  setTimeout(time, 1000);
}
</script>

<script src={%static 'admin/js/script.js'%}></script>
<script src={%static 'admin/js/update.js'%} ></script>
</body>
</html>
